@import 'bootstrap/bootstrap';

img {
  width: 100%;
  height: auto;
}

.rounded-5 {
  border-radius: 5px;
}

.footer-logo {
  width: 128px;
}

.addNum {
  position: relative;
  span:nth-child(2) {
    position: absolute;
    top:7px;
    right: 7px;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 50%;
    background: #916000;
    color:#fff;
    text-align: center;
   }
}
.adBN-bg {
  background-size: cover;
  background-position: center;  
  background-image: url(./../images/index1.jpg);
}
.adBN-cont {
  height: 870px;
  @media only screen and (max-width: 768px) {
    height: 480px;
  }
  .btn {
    width: 75%;
    font-size: 30px;
  }
}

.brandBNs {
  height: 555px;
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 768px) {
    height: 350px;
    background-size: cover;
    background-position: center;
  }
}
.brandBN1 {
  background-image: url(./../images/index2.jpg);
}
.brandBN2 {
  background-image: url(./../images/index3.png);
}
.brandBN3 {
  background-image: url(./../images/index4.jpg);
  background-position: left;
}

.training-bg {
  background-size: cover;
  background-position: center;
  background-image: url(./../images/index5.jpg);
  @media only screen and (max-width: 768px) {
    height: 680px;
  }
}

.training-cont {
  padding-top: 92px;
  @media only screen and (max-width: 768px) {
    padding-top: 8px;
  }
}

.productsList {
  height: 540px;
  @media only screen and (max-width: 1200px) {
    height: 350px;
  }  
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.imgCover {
  -o-object-fit: cover;
  object-fit: cover;
 -o-object-position: center;
  object-position: center;
}
.imgC {
  -o-object-position: center;
  object-position: center;
}
.imgL {
  -o-object-position: left;
  object-position: left;
}
.imgR {
  -o-object-position: right;
  object-position: right;
}
.imgT{
  -o-object-position: top;
  object-position: top;
}
.imgB{
  -o-object-position: bottom;
  object-position: bottom;
}

.subscribe {
  height: 600px;
  padding-top: 312px;
  background-image: url(./../images/index10.jpg);
  background-size: cover;
  background-position: center;
}

// product page
.products img {
  width: 255px;
  height: 255px;
  @media only screen and (max-width: 1200px) {
    width: 200px;
    height: 200px;
  }
  @media only screen and (max-width: 992px) {
    width: 165px;
    height: 165px;
  }
  @media only screen and (max-width: 768px) {
    width: 200px;
    height: 200px;
  }
}
// product2 page
.product2 div div{
  &:nth-child(1){
    img {
      height: 460px;
      @media only screen and (max-width: 768px) {
        height: 220px;
     }
    }
  }
  &:nth-child(2){
    img {
      height: 640px;
      margin-top: -210px !important;
      @media only screen and (max-width: 992px) {
        margin-top: 0px !important;
      }
    }
  }
  &:nth-child(3){
    img {
      height: 640px;
      margin-top: -210px !important;
      @media only screen and (max-width: 992px) {
        margin-top: 0px !important;
      }
    }
  }
  &:nth-child(4){
    img {
      height: 460px;
      @media only screen and (max-width: 992px) {
        margin-top: 0px !important;
      }
    }
  }
}


// login page
.login img {
  height: 730px;
  @media only screen and (max-width: 768px) {
    height: 228px;
  }
}

